<footer class="inicio-footer" [class.inicio-footer--compact]="compact">
  <div class="inicio-footer__container">
    <div class="inicio-footer__grid">
      <div class="inicio-footer__brand">
        <div class="inicio-footer__brand-title">
          <span class="material-icons-round">school</span>
          Universidad Tecnologica de Panama - 2025
        </div>
        <p>
          Direccion: Republica de Panama, Provincia de Cocle, Distrito de Penonome,
          Corregimiento de El Coco, Lugar Llano Marin, Via Interamericana.
        </p>
        <p>Telefono : (+507) 6884-52480</p>
        <p>Correo electronico: cel.cocle@utp.ac.pa</p>
      </div>
      <div class="inicio-footer__links">
        <h4>Enlaces Rapidos</h4>
        <ul>
          <li><a href="#">Matricula UTP</a></li>
          <li><a href="#">Correo UTP</a></li>
          <li><a href="#">Biblioteca UTP</a></li>
          <li><a href="#">Sala de Prensa</a></li>
          <li><a href="#">Bolsa de Trabajo</a></li>
          <li><a href="#">Directorio Telefonico</a></li>
        </ul>
      </div>
      <div class="inicio-footer__contact">
        <h4>Recursos</h4>
        <ul>
          <li><a href="#">Mapa de Ubicacion</a></li>
          <li><a href="#">Mapa del Sitio</a></li>
          <li><a href="#">Identidad Visual</a></li>
        </ul>
        <div class="inicio-footer__social">
          <a href="#"><span class="material-icons-round">facebook</span></a>
          <a href="#"><span class="material-icons-round">close</span></a>
          <a href="#"><span class="material-icons-round">photo_camera</span></a>
        </div>
      </div>
    </div>
    <div class="inicio-footer__bottom">
      © 2024 Centro Especializado de Lenguas - UTP. Todos los derechos reservados.
    </div>
  </div>
</footer>
