@reference "tailwindcss";

:host {
  @apply block;
}

.modal-description {
  @apply mb-4 text-sm text-slate-500;
}

.modal-alert {
  @apply mb-4;
}

.modal-footer {
  @apply flex justify-end gap-2;
}
