<nz-modal
  [nzVisible]="visible"
  [nzTitle]="title"
  (nzOnCancel)="onCancel()"
>
  <ng-container *nzModalContent>
    <p class="modal-description">{{ description }}</p>
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Motivo</nz-form-label>
        <nz-form-control nzErrorTip="Campo obligatorio">
          <textarea
            nz-input
            rows="4"
            formControlName="motivo"
            placeholder="Describe el motivo del rechazo"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>

  <ng-container *nzModalFooter>
    <div class="modal-footer">
      <button nz-button nzType="default" (click)="onCancel()">Cancelar</button>
      <button nz-button nzType="primary" [nzLoading]="isSubmitting" (click)="onSubmit()">
        Confirmar rechazo
      </button>
    </div>
  </ng-container>
</nz-modal>
